{% extends 'blog/base.html' %}

{% block content %}
	{% for post in posts %}
	    <div class="post">
	        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
	        <p>{{ post.text|truncatechars:200 }}</p>
	        <div class="date">
	            <p>Опубликовано: {{ post.published_date }}</p>
	        </div>
	        <a href="{% url 'post_detail' pk=post.pk %}">
	        	Comments: {{ post.approved_comments.count }} 
	        	{% if user.is_authenticated %}
	        		{% if post.unapproved_comments.count >= 1 %}
	        			</br>Comments to be approved: {{ post.unapproved_comments.count }} 
	        		{% endif %}
	        	{% endif %}
	        </a>
	    </div>
	{% endfor %}
{% endblock %}
