header {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
header .top-menu-blog-name {
    color: #ffffff;
    margin-left: 10px;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 10;
}
header .top-menu {
    color: #ffffff;
    
}
header .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    margin-right: 10px;
}
header .top-menu-button {
    color: #ffffff;
    font-size: 20px;
}
h1 {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 600;
}

.content {
    margin-left: 8%;
    margin-right: 8%;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 60px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}
