
.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.navbar {
	margin-bottom: 20px;
}

.post {
	margin-bottom: 40px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.post h2 {
	margin-top: 10px;
}

.comment {
    margin: 20px 20px 20px 20px;
}
