
@media screen and (max-width: 650px) {
	.post {
    	font-size: 17px;
	}
	h1 {
		font-size: 26px;
	}
	.comment {
    	font-size: 16px;
}
}

@media screen and (max-width: 480px) {
	.post {
    	font-size: 16px;
	}
	h1 {
		font-size: 24px;
	}
	.comment {
    	font-size: 15px;
}

@media screen and (max-width: 350px) {
	.post {
    	font-size: 15px;
	}
	h1 {
		font-size: 22px;
	}
	.comment {
    	font-size: 14px;
}